body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(118, 138, 238);
    background: linear-gradient(
        90deg,
        rgba(118, 138, 238, 1) 0%,
        rgba(39, 213, 131, 1) 100%,
        rgba(50, 190, 198, 0.9173525223820846) 100%
    );
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.app {
    width: 30vw;
    padding: 10px 20px;
    margin: 100px auto;
    border: 3px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(118, 138, 238, 1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 30vw;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
